.chat {
    color: #d1002c;
    padding: 1rem 0rem;
    position: relative;
    display: flex;
    flex-direction: column;
    /* height: 500px; */
}

.chat {
    flex: 6;
    /* overflow-y:scroll; */
    max-height: 100vh;
    font-size: 12px !important;
}

.chat hr {

    margin-top: 1rem;

}

.entry-msg {
    background: rgba(255, 255, 255, 0.1);
    background-color: black;
    ;
    min-height: 3rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    position: absolute;
    width: 100%;
    bottom: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    justify-content: center;
}

.entry-msg>div {
    width: 100%;
}

.entry-msg div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
}

.entry-msg .ant-upload-list-item {
    color: white !important;
    background: rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    padding-left: 0rem;
    border-radius: 5px;
}

.entry-msg .ant-upload-list-item:hover {
    color: white !important;
    background: rgba(255, 255, 255, 0.3);
}

.entry-msg input,
.entry-msg textarea {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    border: none;
    color: white;
    /* padding-left: 1rem; */
    padding-top: 0.4rem;
    margin-bottom: 0.6rem;
}

.ant-upload-list.ant-upload-list-text {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
}

.entry-msg input:focus,
.entry-msg textarea:focus {
    outline: none;
}

.entry-msg>input:focus-visible {
    outline: none;
    border: none;
}

.render-msg {
    flex: 1;
    /* overflow-y: scroll !important; */
    padding: 2rem 1rem 4rem 1rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.receive-message {
    /* min-height: 1rem; */
    display: inline-block;
    /* min-width: 5rem; */
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 1rem 0rem;
    margin-right: auto;
    max-width: 40%;

}

.send-message {
    /* min-height: 1rem; */
    max-width: 40%;
    /* min-width: 5rem; */
    margin-left: auto;
    background-color: #d1002c;
    color: white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
    ;
}

.chat .ant-upload-list-item.ant-upload-list-item-undefined {
    background: rgba(255, 255, 255, 0.3) !important;

}

.chat .ant-upload-list-item.ant-upload-list-item-undefined .icon {
    color: red !important;
}

.chat button[title='Remove file'] {
    color: white !important;
    opacity: 1 !important;
}