.friend {
    flex: 2;
    /* background: rgba(255, 255, 255, 1) !important; */
    padding: 0.5rem;
    /* overflow-y:scroll; */
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    max-height: 100vh;
    -webkit-box-shadow: -7px 10px 42px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 10px 42px -16px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 10px 42px -16px rgba(243, 237, 237, 0.75);
    border-radius: 5px;
    margin: 0.2rem;
    background-color: black;
    font-size: 13px;
    ;
}

/* .friend .ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light.css-dev-only-do-not-override-1fumvat { */
.friend ul {
    background-color: rgba(255, 255, 255, 0.2) !important;
    display: flex !important;
    justify-content: space-between !important;
    gap: 0.2rem !important;
    border-radius: 5px !important;
    padding: 0.1rem !important;
    line-height: 35px !important;
}

/* .friend .ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light.css-dev-only-do-not-override-1fumvat::before { */
.friend li {
    content: none !important;
    border-radius: 5px !important;
    color: white !important;
    flex: 1 !important;
}

.friend .ant-menu-item-selected::after {
    content: none !important;
}

.friend .ant-menu-submenu-open::after {
    content: none !important;
    border: none !important;
}


.friend .ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light.css-dev-only-do-not-override-1fumvat li {
    flex: 1 !important;
    color: white !important;
    /* background-color: black; */
    /* background-color: #d1002c !important; */
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
}


.friend .ant-menu-item-selected {
    background-color: #d1002c !important;
}

.friend #normal_login_search {
    border-bottom: none !important;

}

.friend .ant-input-affix-wrapper {
    background: #f0f0f0 !important;
}

.friend-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
    gap: 0.5rem;
    overflow-y: scroll;
}

.one-friend {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1rem 0.5rem;
    cursor: pointer;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.one-friend:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);


}

.one-friend.active {
    background: rgba(255, 255, 255, 0.5);
    color: white;
}

.one-friend .img {
    height: 40px;
    width: 40px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#normal_login_search {
    color: black !important;
}

.profile :where(.css-dev-only-do-not-override-1fumvat).ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover::after,
:where(.css-dev-only-do-not-override-1fumvat).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item:hover::after,
:where(.css-dev-only-do-not-override-1fumvat).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu:hover::after,
:where(.css-dev-only-do-not-override-1fumvat).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu:hover::after,
:where(.css-dev-only-do-not-override-1fumvat).ant-menu-light.ant-menu-horizontal>.ant-menu-item-active::after,
:where(.css-dev-only-do-not-override-1fumvat).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-active::after,
:where(.css-dev-only-do-not-override-1fumvat).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-active::after,
:where(.css-dev-only-do-not-override-1fumvat).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-active::after,
:where(.css-dev-only-do-not-override-1fumvat).ant-menu-light.ant-menu-horizontal>.ant-menu-item-open::after,
:where(.css-dev-only-do-not-override-1fumvat).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-open::after,
:where(.css-dev-only-do-not-override-1fumvat).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-open::after,
:where(.css-dev-only-do-not-override-1fumvat).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-open::after {
    border: none !important;
}

.friend .ant-menu-item-active li::after {
    border: none !important;
    background-color: blue !important;
}