/* myAccount.css*/
.my-account-wrapper::after {
    content: "";
    position: absolute;
    /* Position the pseudo-element absolutely */
    left: 0;
    right: 0;
    height: 6.5rem;
    background-color: var(--accent-color);
    z-index: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wrap-account {
    flex: 8;
    padding-top: 3rem;
    padding-right: 2rem;
    overflow-y: scroll;
    max-height: 100vh;
    ;
    padding-bottom: 2rem;
}

.wrap-account .title-bold {
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: block;
    padding-left: 0.2rem;
    ;
    text-transform: uppercase;
}

.my-account-wrapper {
    position: relative;
    /* background-color: red; */
    /* min-height: 400px; */
    border-radius: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    /* max-width: 70%; */
    /* flex:8;n */
    ;
    padding: 1rem;
    padding-top: 0rem;
    /* padding-top: 3rem; */
    background-color: rgba(0, 0, 0, 1);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.user-profile {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-top: 6rem;

}

.avatar-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    outline: 4px solid rgba(0, 0, 0, 1);
    display: relative;
    z-index: 4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    /* Optional subtle shadow */
    /* Outer black border */
}

.change-pwd {
    color: white;
    background-color: var(--accent-color);
    border-radius: 3px;
    outline: none;
    border: none;
    font-weight: bold;
}

.edit-area {
    background-color: rgba(255, 255, 255, 0.1);
    /* min-height: 200px; */
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    ;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit {
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    transition: background-color 0.2s ease-in-out;
    outline: none;
    ;
}

.edit:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.2s ease-in-out;
}

.left-area {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.left-area .key {
    opacity: 0.5;
    text-transform: uppercase;
}