.profile-comp {

    flex: 8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting-comp {
    flex: 8;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: 3rem;
    flex-direction: column;
    gap: 2rem;
    margin-right: 2rem;
    /* min-height: 100vh;
    overflow-y: scroll; */
    /* height: 100vh;
    overflow-y: scroll; */

}

.option .label-add {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    gap: 1rem;
    font-size: 3rem;
}

.option .label-add span {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5rem;
    border-radius: 50%;
}

.option .label-add span:hover {
    background-color: rgba(0, 0, 0, 1);
}


.setting-comp * {
    color: white;
    letter-spacing: 0.05rem;
    font-weight: bold;
}

.setting-comp .option * {

    font-size: 80%;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    /* width: 100% !important; */
}

.setting-comp .ant-select-selector {
    background: black !important;
    border: 0px solid white !important;
    border-radius: 1px !important;
    line-height: 1.5rem !important;
    min-height: 3rem !important;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.setting-comp .option {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    width: 100%;
    justify-content: stretch;

}

/* .setting-comp b {
    color: white;
    text-transform: uppercase;

} */

.blocked-users-wrapper {
    height: 200px;
    background-color: black;
    width: 100%;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll !important;


}

.user-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;

}


.unblock-wrapper button {
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    border-radius: 2px;
    outline: none;
    border: none;
    line-height: 1rem;
    ;
}

.unblock-wrapper button:active,
.unblock-wrapper button:focus {
    border: none;
    outline: none;
}