
.profile-comp{

    flex:8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting-comp{
    flex:8;
    display: flex;
    align-items: center;
    justify-content: center;
}