.profile {
    flex: 2;
    background: #000;
    /* overflow:scroll; */
    max-height: 100%;
    padding: 1rem;
    color: #d1002c;
    display: flex;
    flex-direction: column;
}

.profile>h1 {
    margin-bottom: 2rem;
    font-size: 30px;
}

.profile>img {
    height: 40px;
    width: 40px;
    border: 1px solid blue;
    border-radius: 50%;
}

.profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.5rem;
}

.profile-name>span,
.profile-name>h3 {
    text-align: center;
    align-self: center;
    line-height: 1.5rem;
}
.profile-name>span{
    font-weight:bold;
    color:red;
    /* border:1px solid red; */
    padding:1rem 1rem;
    border-radius:50%;
    font-size:35px;
    margin-bottom:1rem;
    background:rgba(255,255,255,0.2);
}

.profile-name>b {
    margin: 1rem 0rem;
}

hr {
    color: rgba(255, 255, 255, 0.2);
    width: 100%;
    /* margin-top:2rem; */
}

.tabs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items:center; */
    padding: 2rem 0rem 0rem;
    flex: 1;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(214, 214, 214);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cccbcb;
}

.tabs-wrapper li {
    background: transparent !important;
    color: white !important;
    font-size: 15px !important;
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 2px !important;
    margin-bottom: 0.5rem !important;
}

.tabs-wrapper li:hover {
    background: rgba(209, 32, 12, 1) !important;
}

.tabs-wrapper * {
    background: transparent !important;
}